[Unit]
Description=dhclient on eth0
Wants=network.target
Before=network.target

[Service]
ExecStart=/sbin/dhclient -d -v eth0

[Install]
WantedBy=multi-user.target
